/* AboutHover.css */

.hover-container {
  position: relative;
  display: flex;
  align-content: center;
}

.hover-container img {
  width: 15%;
  height: 15%;
  object-fit: cover; 
  filter: blur(20px);
  transition: filter 0.3s ease-in-out;
}

.hover-container img:hover {
  filter: blur(0);
}

.text-container {
  padding: 20px;
}

.text-container h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.text-container p {
  font-size: 1em;
}
