/* detail signup 페이지와 detail login 페이지의 중앙 배치를 위한 id=AgreementContainer css입니다. */

#AgreementContainer {
  /* margin: 3.8% 30% 30% 30%; */
  width:70%;
  /* height:500px; */
  /* overflow:auto;   */
  border:1px solid #001D3D;
  /* border-radius: 10px; */
  justify-content: center;
}

#context1 {
  margin: 10px;
}
  