.DetailBoardList {
  justify-content: center;
  width: 82vw;
}

.DetailBoardthead th{
  font-size: 2.2vw !important;
}


.DetailBoardTable th, .DetailBoardTable td {
  padding: 10px;
  padding-top: 25px;
  text-align: center;
  font-size: 1.4vw;
}