/* 서비스 소개 - 심플모드 */

/* 영상통화 중 표정알림 서비스 */
.aboutTitle{
max-width: 100%;
max-height: 100%;
margin-top: 20px;
position: absolute;
width: 100%;
min-width: 800px;
height: 14%;
justify-content: center;

color: #FFC300;
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 122px;
display: flex;
align-items: center;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Dark-Yellow */



/* VODA는 웹 브라우저에서 시각 장애인에게 비언어적 소통을 지원합니다. 지인과 가족을 친구로 등록하여 손쉽게 영상 통화를 시작해보세요. */
.aboutContent{
max-width: 100%;
max-height: 100%;
margin: 0px;
position: absolute;
width: 100%;
min-width: 800px;
height: 0px;
justify-content: center;
top: 270px;

font-family: 'KoddiUD OnGothic';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;
display: flex;
align-items: center;

/* Super-Silver */
color: #F0F0F0;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* VODA */
.aboutVODA{
  max-width: 100%;
max-height: 100%;
position: absolute;
width: 320px;
height: 154px;
left: 200px;
top: 320px;

font-family: 'Secular One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 146px;
display: flex;
align-items: center;
text-align: center;

/* Dark-Yellow */
color: #FFC300;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Voice Over Diverse Assistance */
.aboutMean{
max-width: 100%;
max-height: 100%;
position: absolute;
width: 100%;
min-width: 800px;
height: 417px;
left: 15px;
top: 130px;

/* font-family: 'Secular One'; */
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 60px;
display: flex;
text-align: left;
/* align-items: center; */

/* Super-Silver */
color: #F0F0F0;
}


/* “ 표정을 소리로 보다 ” */
.aboutSlogan{
max-width: 100%;
max-height: 100%;
position: absolute;
width: 62%;
min-width: 800px;
height: 154px;
left: 500px;
top: 450px;

font-family: 'KoddiUD OnGothic';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110px;
display: flex;
align-items: center;
text-align: center;

/* Dark-Yellow */
color: #FFC300;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}