#customModalContainer {
  width: '150%';
  height: '150%';
  overflow: hidden;
}

#customModal {
  max-width: 1500px !important;
  /* position: fixed !important; */
  min-width: 20px;
  min-height: 550px;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#FriendContainer td {
  padding: 0px 8px 3%; 
  font-size: 1.54vw;
  text-align: center;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.callButton {
  width: 50% !important;
}

.delButton {
  width: 50% !important;
}

.addButton {
  width: 60% !important;
}

.exitButton {
  display: inline-block;
}