#customModalContainer {
  /* display: grid !important; */
  /* place-items: center !important; */
  /* height: 100vh !important; */
}

#customModal {
  max-width: 1500px !important;
  /* position: fixed !important; */
  min-width: 500px;
  min-height: 550px;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#FriendContainer td {
  padding: 0px 8px 3%; 
  font-size: 23px;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}