/* 
#localUser {
  position: absolute;
  left: 67% !important;
  top: 50% !important;
}

#localUser video {
  width: 50% !important;
  height: 50% !important;
}


#remoteUsers {
  position: absolute;
  right: 0% !important;
  left: 5% !important;
}

#remoteUsers video{
  width: 100% !important;
  height: 100% !important;
}

#layout {
  background-color: #001D3D;
}

#session {
  width: 100% !important;
  bottom: 10% !important;
  right: 30% !important;
}

#header{
  display: none;
} */

